<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>

    <% for (let post of posts) { %>
      <p><%= post.caption %></p>

    }

      <button class="btn btn-success"><a href='/posts/new'>Write a new post!</a></button>

      <button><a href='/posts'>Back to Posts!</a></button>


  </body>
</html>
