<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>

    <% console.log(foundId) %>

      <button type="button" onclick="location.href = '/posts/new/<%= foundId._id%>';">Write a new post!</button>

    </header>
  </body>
</html>
